In [ ]:
import pandas as pd

In [33]:
import warnings
warnings.filterwarnings('ignore')

In [54]:
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

In [55]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [56]:
def data_clean(data):
    data = data.drop(['Ticket','Cabin','PassengerId','Name'],axis=1)
    
    cols = ['SibSp','Parch','Fare','Age']
    for cols in cols:
        data[cols].fillna(data[cols].median(),inplace = True)
        
    data['Embarked'].fillna("U",inplace = True)
    return data

In [57]:
data = data_clean(train)
test_clean = data_clean(test)

In [58]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [59]:
from sklearn.preprocessing import LabelEncoder

In [60]:
le = LabelEncoder()
cols = ['Sex','Embarked']
for cols in cols:
    data[cols] = le.fit_transform(data[cols])
    test_clean[cols] = le.transform(test_clean[cols])
    print(le.classes_)

['female' 'male']
['C' 'Q' 'S' 'U']

In [61]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [62]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [63]:
y= data['Survived']
X= data.drop(columns='Survived')

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [65]:
clf = LogisticRegression(random_state=2,max_iter=1000)

In [66]:
clf.fit(X_train,y_train)

LogisticRegression(max_iter=1000, random_state=2)

In [67]:
pred = clf.predict(X_test)

In [68]:
from sklearn.metrics import accuracy_score

In [69]:
print("Accuracy score ::",accuracy_score(pred,y_test))

Accuracy score :: 0.8100558659217877

In [70]:
test_clean

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0         3    1  34.5      0      0    7.8292         1
1         3    0  47.0      1      0    7.0000         2
2         2    1  62.0      0      0    9.6875         1
3         3    1  27.0      0      0    8.6625         2
4         3    0  22.0      1      1   12.2875         2
..      ...  ...   ...    ...    ...       ...       ...
413       3    1  27.0      0      0    8.0500         2
414       1    0  39.0      0      0  108.9000         0
415       3    1  38.5      0      0    7.2500         2
416       3    1  27.0      0      0    8.0500         2
417       3    1  27.0      1      1   22.3583         0

[418 rows x 7 columns]

In [71]:
su = clf.predict(test_clean)

In [72]:
df=pd.DataFrame({
    "PassengerID":test.PassengerId.values,
    "Survived" : su
})

In [74]:
df.to_csv("submisiion.csv",index=False)